/*
 * generate by tool
*/
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using LitJson;
using FixedPointy;
namespace Config
{
    {% macro create_fields(n) -%}
        {% for n2 in n.children -%}
        {% if n2.name != 'id': -%}
        /// <summary>
        ///{{n2.comment}}
        /// </summary>
        {% if n2.type_name == 'float': -%}
        public Fix {{ n2.name }};
        {% else -%}
        public {{ n2.type_name }} {{ n2.name }};
 		
        {% endif %}
        {% endif %}
        {%- endfor %}    
    {%- endmacro %}   
    public class {{ name }} : ConfigData
    {
        //fileds
        {{create_fields(node)}}        

        {% set sub_classes = [] %}
        {% for n in node.children recursive  -%}
        {% if n.type == 'object' and n.type_name not in sub_classes -%}
        {% if sub_classes.append(n.type_name) %}{% endif %}
        
        public class {{ n.type_name }}  
        {
            //fileds
            {{create_fields(n)}}      
        } 
        {% endif -%}
        {{ loop(n.children) -}}
        {%- endfor %}
    } 
}