/*
 * generate by tool
*/
//using System.Collections;
using System.Collections.Generic;
namespace Config
{
    {# 创建私有变量#}
    {% macro create_fields(n) -%}
        {% for n2 in n %}
        /// <summary>
        ///{{n2.comment}}
        /// </summary>
        private {{ n2.type }} {{ n2.name }}; 
        {% endfor %}
    {%- endmacro %}
    {# 创建封装后的属性#}
    {% macro create_attr_fields(n) -%}
        {% for n2 in n %}
        public {{ n2.type }} {{n2.up_name}} { get => {{ n2.name }}; }     {# set => {{ n2.name }} = value; #}
        {% endfor %}
    {%- endmacro %}   
    public class {{ name }} : BaseConfig
    {
        {{create_fields(list)}}

        {{create_attr_fields(list)}}

    } 
}